
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/*---------------------------------------navbar----------*/
.navbar-brand {
    font-weight: 300;
}

#navbardown {
    font-weight: 300;
}

.navbar-nav .nav-item a.nav-link:hover {
    color: #A020F0;
}

/*----------------------------------------------------------------------------------index.html--------------*/
.welcome-container {
    height: 100vh;
    background: url('../images/home.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.text-color {
    color: #fff;
    text-align: center;
}

.container-fluid.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-divider {
    width: 20%;
    height: 2px;
    border: 0;
    margin: 5% auto;
    background-color: #fff;
}

/*----------why yoga----------*/

 #why-yoga {     
     height: 700px;
     color:#343a40;
     text-align: left;

    }

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

.left-about-heading p,
.right-about-heading p {
    color: #343a40 !important;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #777777;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: left;
}


#wheading {
    margin: 20px 0;
    text-align: center;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 20px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/middle.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/*--------Media Query--------- */
@media only screen and (max-width: 768px) {
    #why-yoga {
        height: auto; 
    }

    #left-about,
    #right-about,
    #center-about {
        width: 100%; 
        float: none; 
    }

    .left-about-heading,
    .right-about-heading {
        width: 100%; 
        float: none; 
    }

    #circle-cover-bg, #circle-container {
        display: none; 
    }
}

@media only screen and (width: 1024px) {
    #why-yoga {
        height: 750px; 
    }

    #left-about{
        padding-top: 25px;
        width: 33%;
        float: left;
    }
    
    #right-about {
        padding-top: 25px;
        width: 35%;
        float: right;
    }
    
    #center-about {
        width: 33%;
        padding-right: 20px;
        margin: 0 auto;
    }

}

/*----------instructors section----------*/
.instruct {
    background-color: #343a40;
    color: #fafafa;
}

.iheading {
    margin-left: 5%;
}


.quotes-block {
    border-color: transparent;
}

/*--------Media Query--------- */
@media only screen and (max-width: 426px) {
    .blockquote {
        background-color: #343a40;
        color: #fafafa;
    }
    
    .instruct {
        background-color:#fff;
        
    }
    .text-uppercase {
        color:#343a40
    }
    }
    
    .quotes-block {
        border-color: transparent;
    }

/*----------------------------------------------------------------------------------yoga.html--------------*/
div.scroll-container{
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
.scroll-container img,
  .scroll-container iframe {
    display: inline-block;
    margin-right: 10px;   
    vertical-align: top; 
  }

div.scroll-container img{
    padding: 10px;
}


.gheading{
    font-weight: 400;
    color: #343a40;
    text-align: center;
}

/*---------yoga types------*/
.type-yoga { 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fafafa;
    float:left
}

.type-yoga h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.types {
    height: 100vh;
    background-size: cover;
    background: url('../images/info.jpg') no-repeat center center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
/*--------Media Query--------- */
@media only screen and (max-width: 769px) {
    .types{
        height: auto;
    }
}

/*----------classes--------*/
#times{
    background-image: url('../images/class.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#times div {
    color: rgb(255, 255, 255);
    background-color: rgba(0,0,0, .6);
    width: 24.3%;
    height: 400px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    margin: 5px;
}

#times h2, h3, p {
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/*--------Media Query--------- */
@media only screen and (width: 1024px) {
    #times div {
        width: 49%; 
    }

    #times div:last-child {
        clear: none; 
    }
}

@media only screen and (max-width: 769px) {
    #times div {
        width: 48.5%; 
    }
}

@media only screen and (max-width: 426px) {
    #times div {
        width: 100%; 
        margin: 2%;
    }
}

/*----------------------------------------------------------------------------------contact.html--------------*/
.contact{
    height: 552px;
    background: url('../images/contact.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    position: relative;
    margin-bottom: 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.contact-details{
    height: 400px;
    margin-top: 5%;
    margin-left: 10%;
    padding: 20px;
    color: #fafafa;
    background-color: #343a40;
    opacity: 0.8;
}

/*--------Media Query--------- */
@media only screen and (max-width: 426px) {
    .contact-details {
        margin-left: auto;
        margin-right: auto;
    }
   

@media only screen and (min-width: 426px) {
    .form-container {
        height: 80vh;
    }
}
}

/*--------------------form---------*/
.form-container {
    width: 50%;
    margin: auto;
    padding: 20px;
  }

  .row {
    margin-bottom: 15px; /* Adjust this value to control the spacing between rows */
    overflow: hidden; /* Clear floats */
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #343a40;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #A020F0;
  }
  
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  /*--------Media Query--------- */
  @media screen and (max-width: 425px) {
    .form-container {
      width: 90%; 
    }

    .row {
      margin-bottom: 10px; 
    }
  }

/*----------------------------footer----------*/
footer{
    background-color: #343a40;
    text-align: center;
}

.copyright {
    padding: 12px 0;
    font-family: 'Roboto', sans-serif;
    font-size: x-small;
    color: #fff;
}

.socials li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    color: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.socials li a i:hover {
    color: #A020F0;
}

.general-sub {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.download {
    color: #fff;
}

.download p a i:hover {
    color: #A020F0;
}

.download p a i {
    color: #fff;
}



