body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/*----------colours----------*/





/*----------navbar----------*/
.navbar-brand {
    font-weight: 100;
}

#navbardown {
    font-weight: 100;
}

/*----------welcome section----------*/
.welcome-container {
    height: 100vh;
    background: url('../images/home.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.welcome {
    color: #fff;
    text-align: center;
}


/*-----------Block dividers-----------*/
.container-fluid.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-divider {
    width: 20%;
    height: 2px;
    border: 0;
    margin: 5% auto;
    background-color: #fff;
}


/*----------why yoga section----------*/

#why-yoga{
    height: 600px;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #777777;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: left;
}

#wheading {
    margin: 20px 0;
    text-align: center;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 20px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/middle.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/*----------instructors section----------*/

#instruct {
    height: 800px;
}



/*----------gallery----------*/

div.scroll-container{
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

div.scroll-container img{
    padding: 10px;
}


.gheading{
    font-weight: 100;
    color: #3a3b3c;
    text-align: center;
}

/*---------yoga types------*/

.container .row .col h4.type-heading {
    color: black;
}

.types {
    height: 100vh;
    background: url('../images/info.jpeg') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/*----------footer----------*/
footer{
    background-color: #3a3b3c;
    text-align: center;
}

.copyright {
    padding: 12px 0;
    font-family: 'Roboto', sans-serif;
    font-size: x-small;
    color: #fff;
}

.socials li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    color: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.socials li a i:hover {
    color: #A020F0;
}



