body {
    font-family: 'Roboto', sans-serif;
}

/*----------colours----------*/





/*----------navbar----------*/
.navbar-brand {
    font-weight: 100;
}

#navbardown {
    font-weight: 100;
}

/*----------welcome section----------*/
.welcome-container {
    height: 100vh;
    background: url('../images/home.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.welcome {
    color: #fff;
    text-align: center;
}


/*-----------Block dividers-----------*/
.container-fluid.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-divider {
    width: 20%;
    height: 2px;
    border: 0;
    margin: 5% auto;
    background-color: #fff;
}


/*----------why yoga section----------*/
.container-yoga {
    height: 100vh;
    line-height: 20px;
    clear: both;
    
}

.yoga-circle img {
    display: grid;
    place-items: center;
    max-width: 100%;
    height: auto;
}

.yoga-circle {
    padding-top: 40px;
}

/*----------instructors----------*/



/*----------footer----------*/
footer{
    background-color: #3a3b3c;
    text-align: center;
}

.copyright {
    padding: 12px 0;
    font-family: 'Roboto', sans-serif;
    font-size: x-small;
    color: #fff;
}

.socials li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    color: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.socials li a i:hover {
    color: #A020F0;
}



